<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="artifactory_elementlogic" value="https://suplogistik.jfrog.io/artifactory/api/nuget/v3/default-nuget-virtual/index.json" />
    </packageSources>

    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="artifactory_elementlogic">
            <package pattern="ElementLogic.*" />
            <package pattern="eController.*" />
            <package pattern="ePlugin.*" />
            <package pattern="eMessenger" />
            <package pattern="eMessenger.*" />
            <package pattern="Microsoft.Css.Parser" />
            <package pattern="ElUI.*" />
            <package pattern="eScheduler.*" />
        </packageSource>

        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>