<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- Time modi: https://blog.machinezoo.com/how-to-configure-nlog-time-source -->
  <time type="FastLocal" />

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="eController.Util"/>
  </extensions>

  <variable name="FormatException" value="${onexception:${newline}${exception:format=tostring,data}}" />
  <variable name="EventProps" value="${when:when=length('${all-event-properties:includeScopeProperties=true}')>0:Inner= [${all-event-properties:includeScopeProperties=true}]}" />

  <!-- Logging Ziele wie z.B. die Console oder eine Datei -->
  <targets>
    <target xsi:type="ColoredConsole" name="logconsole"
            layout="${longdate}|${level:truncate=3:uppercase=true}|${logger:shortName=true:padding=20:truncate=20}|${message}${EventProps}${FormatException}">
    </target>
  </targets>

  <!-- Nach welchen Regeln an welches Ziel geloggt wird -->
  <rules>
    <!-- Suppress default asp logging spam -->
    <logger name="Microsoft.AspNetCore.Routing.*" maxlevel="Info" final="true" />
    <logger name="Microsoft.AspNetCore.Mvc.*" maxlevel="Info" final="true" />
    <logger name="Microsoft.AspNetCore.Hosting.*" maxlevel="Info" final="true" />
    <logger name="eHub.Authentication.BasicAuthenticationHandler" maxlevel="Info" final="true" />

    <logger name="Microsoft.EntityFrameworkCore.Database.Command" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
  </rules>
</nlog>
